@value makerNavy,makerYellow,makerGrey,makerLightGrey from '../../common/colors.css';
@value mediaWidth,mediaQuery from '../../common/size.css';

.user_container {
  width: 100%;
}
.user {
  background-color: makerYellow;
  text-align: center;
  color: makerNavy;
  padding: 1em 0 1.5em;
}
.userIcon {
  font-size: 4rem;
  line-height: 100%;
}
.userName {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5em;
}
/* ///////////animal//////////// */
.animal {
  margin: 1.5em auto 3em;
  max-width: 800px;
  padding: 0 1em;
  min-width: mediaWidth;
}
.animalInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 3.5em;
  background-color: white;
}
.animalInfo > input,
.animalInfo > div,
.animalInfo > select,
.animal_feature,
.animal_size {
  text-align: center;
  font-size: 1rem;
  border: none;
  padding: 0.6em;
  outline: 0;
  width: 100%;
}
.animal_size {
  max-width: 4em;
  padding: 0;
}
.animal_size_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.animal_feature {
  border-top: 1px dashed makerGrey;
  height: 8em;
  text-align: left;
  padding: 1.5em;
  font-size: 0.8rem;
}
.animal_feature::placeholder {
  text-align: center;
}
.animal_name {
  font-weight: 700;
  background-color: makerNavy;
  color: white;
}
.animal_photo {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.photo {
  width: 35%;
  height: 15em;
  background-color: white;
  position: relative;
  border: 1px solid transparent;
}
.photoEdit {
  cursor: pointer;
}
.photoEdit:hover {
  border: 1px dashed makerNavy;
}
.myPetImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dogImg {
  width: 5em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(100%);
}
.photoInput {
  display: none;
}

@media (max-width: mediaQuery) {
  .animalInfo > input,
  .animalInfo > div,
  .animalInfo > select,
  .animal_feature,
  .animal_size {
    font-size: 0.8rem;
  }
  .animal_photo {
    display: flex;
    flex-direction: column;
  }
  .photo {
    width: 100%;
    height: 15em;
  }
}
