@value makerNavy, makerPink, makerGrey, makerYellow from '../../common/colors.css';
@value container from '../../common/size.css';

.info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.2em;
  transition: all 300ms ease;
  cursor: pointer;
}
.info:hover {
  background-color: #486b7c;
  color: white;
}
.info:hover .info_img {
  filter: grayscale(0%);
}
.info_img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 5px;
  filter: grayscale(80%);
  background-color: makerGrey;
}
.info_text {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}
.gender {
  color: white;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  font-size: 0.6rem;
  text-align: center;
  line-height: 3em;
  margin: 0 2em;
}
.female {
  background-color: makerPink;
}
.male {
  background-color: makerNavy;
}
.unknown {
  background-color: makerGrey;
}
.feature {
  flex: 2;
  font-weight: 700;
}
.location {
  flex: 1;
}
.locationIcon {
  margin-right: 0.3em;
}
.period {
  display: flex;
  align-items: center;
  padding: 0 2em;
  /* background-color: makerYellow; */
  height: 80px;
  color: makerNavy;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
}
