@value makerNavy,makerDarkNavy, makerPink, makerGrey, makerYellow from '../../common/colors.css';
@value container, size_title,size_sub from '../../common/size.css';

.homeless_container {
  position: relative;
  background-color: makerNavy;
}
.loading_container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
}
/* ///////////////////////////////// */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load 1.8s infinite ease-in-out;
  animation: load 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3em;
}
@-webkit-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/* ///////////////////////////////// */
.homeless {
  width: 100%;
  max-width: container;
  margin: auto;
}
.title {
  font-size: size_title;
  padding-top: 1.5em;
  color: makerYellow;
  text-align: center;
  letter-spacing: -0.7px;
}
.subTitle {
  font-size: size_sub;
  color: white;
  text-align: center;
}
.search_bar {
  margin-top: 2em;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  margin-bottom: 3em;
}
.radio {
  display: none;
}
.animal {
  width: 50px;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: makerNavy;
}
.radio[type='radio']:checked + .animal {
  background-color: makerDarkNavy;
  color: white;
}
.search_bar input,
.search_bar select {
  outline: none;
  border: none;
  margin-left: 0.8em;
}
.search_bar span {
  margin-left: 0.8em;
  font-weight: 700;
  font-size: 0.8rem;
}

.search_bar button {
  background-color: makerYellow;
  height: 100%;
  margin-left: auto;
  font-weight: 700;
  flex: 1;
  margin-left: 3em;
}
.info_container {
  text-align: center;
}

.upr_cd {
  text-align: center;
  width: 20%;
}
.org_cd {
  text-align: center;
  width: 20%;
}
.date {
  text-align: center;
  width: 30%;
  white-space: nowrap;
}
/* //////////////////////pagination///////////// */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0 3em;
}
.pageNumber {
  color: white;
}
.pageNumber span {
  color: makerYellow;
}
.arrow {
  margin: 0 0.8em;
  color: white;
  cursor: pointer;
  background-color: makerDarkNavy;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
