@value makerNavy from '../../../common/colors.css';

.range {
  display: flex;
}
.range label {
  display: block;
  font-size: 0.8rem;
  background-color: white;
  text-align: center;
  width: 4.5em;
  height: 2.4em;
  margin-right: 0.5em;
  border-radius: 1.2em;
  line-height: 2.4em;
  cursor: pointer;
}
.range input {
  display: none;
}
.range input:checked + label {
  background-color: makerNavy;
  color: white;
  font-weight: 700;
}
