@value makerNavy,makerYellow, makerPink, makerGrey from '../../../common/colors.css';
@value mediaQuery,mediaWidth from '../../../common/size.css';

.form_container {
  background-color: white;
  width: 100%;
  padding: 3em 4em;
}
.info_wrap {
  margin-bottom: 1em;
}
.info_title {
  margin-bottom: 0.3em;
  font-size: 0.8rem;
}
.address {
  display: flex;
  justify-content: space-between;
}
.address input {
  width: 26%;
  padding: 0.8em;
  background-color: rgb(245, 245, 245);
  border: 1px solid makerGrey;
  outline: 0;
}
.searchBtn {
  width: 17%;
  padding: 0.8em;
  text-align: center;
  background-color: makerNavy;
  color: white;
  cursor: pointer;
}
.button_wrap {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.button_wrap > button {
  background-color: darkgrey;
  padding: 0.6em 3.5em;
  color: white;
  font-size: 0.8rem;
}
.submit {
  background-color: makerNavy !important;
}
.popup {
  width: 90%;
  max-width: 500px;
  min-width: mediaWidth;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

@media (max-width: mediaQuery) {
  .form_container {
    padding: 3em 1em;
  }
  .searchBtn {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
