@value makerNavy,makerPink,makerYellow,makerGrey,makerLightGrey,makerDarkGrey from '../../common/colors.css';
@value container from '../../common/size.css';

.animal {
  height: 180px;
}
.animalPhoto {
  display: flex;
  margin: 0.5em 0;
  width: 100%;
}
.photo {
  background-color: makerLightGrey;
  height: 5.8em;
  width: 32%;
  margin: 0 1%;
  object-fit: cover;
}
.info {
  width: 100%;
}
.lostInfo {
  align-items: center;
  font-weight: 700;
}
.basicLostInfo {
  margin: 0.5em 0;
  display: flex;
  font-weight: 500;
  font-size: 0.7rem;
}
