@value makerNavy,makerYellow, makerPink, makerGrey from '../../../common/colors.css';
@value mediaQuery from '../../../common/size.css';

.form_container {
  background-color: white;
  width: 100%;
  padding: 3em 4em;
  display: flex;
  flex-direction: column;
}
.form_desc {
  font-size: 0.8rem;
  margin-bottom: 2em;
  color: makerGrey;
}
.row {
  display: flex;
}
.row > div:not(:last-of-type) {
  margin-right: 2%;
  flex: 1;
}
.button_wrap {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.button_wrap > button {
  background-color: darkgrey;
  padding: 0.6em 3.5em;
  color: white;
  font-size: 0.8rem;
}
.submit {
  background-color: makerNavy !important;
}

@media (max-width: mediaQuery) {
  .form_container {
    padding: 3em 1em;
  }
}
