@value makerNavy,makerYellow,makerGrey,makerLightGrey from '../../common/colors.css';
@value mediaQuery,mediaQueryWidth,mediaWidth from '../../common/size.css';

.lostMyPet_container {
  background-color: white;
  width: 100%;
  padding: 2em 1em;
  min-width: mediaWidth;
}
.lostMyPet {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}
.line {
  border-right: 1px solid makerGrey;
  margin: 0 2em;
}

.lostpet_container {
  min-width: mediaWidth;
  background-color: makerLightGrey;
  min-height: calc(100% - 50px);
  width: 100%;
  padding: 1em 1em 3em;
}
.lostpet {
  max-width: 1000px;
  margin: auto;
}
.header {
  display: flex;
}
.lostAnimals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.animal_wrap {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  height: 350px;
  padding: 0.8em;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
  margin: 0.5em;
}
.animal_wrap:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}
.desc {
  border-top: 1px dashed makerGrey;
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 0.7rem;
  flex: 1;
  overflow: auto;
  white-space: normal;
}
.desc::-webkit-scrollbar {
  width: 8px;
}
.desc::-webkit-scrollbar-thumb {
  background-color: makerNavy;
  border-radius: 4px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.helpers {
  position: relative;
  border-top: 1px solid makerGrey;
  display: flex;
  width: 100%;
}
.helpersInfo {
  display: flex;
  height: 56px;
}
.helper {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin: 0.5em 0.18em 0.5em;
  text-align: center;
  line-height: 2.5em;
  font-weight: 700;
}
.helper:nth-child(even) {
  background-color: makerNavy;
  color: white;
}
.helper:nth-child(odd) {
  background-color: makerYellow;
}
.participate {
  opacity: 0;
  transition: all 200ms ease-in;
}
.participate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: makerNavy;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.animal_wrap:hover .participate {
  opacity: 1;
}

@media (max-width: mediaQueryWidth) {
  .lostMyPet {
    flex-direction: column;
  }
  .line {
    border-bottom: 1px solid makerGrey;
    margin: 1em 0;
  }
}
