@value makerNavy,makerYellow, makerPink, makerGrey from '../../../common/colors.css';
@value mediaQuery from '../../../common/size.css';

.button_container > button {
  color: white;
  border: 1px solid white;
  border-radius: 13px;
  height: 26px;
  width: 90px;
  margin-left: 1em;
}
.login {
  background-color: makerNavy;
  border: 1px solid makerNavy !important;
}
.guest {
  display: none;
}

@media (max-width: mediaQuery) {
  .guest {
    display: block;
  }
  .button_container {
    display: none;
  }
}
