@value makerNavy,makerYellow from '../../common/colors.css';
@value mediaQueryWidth from '../../common/size.css';

.header_container {
  background-color: makerYellow;
  height: 50px;
  padding: 0 1em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.logo {
  height: 40%;
  cursor: pointer;
}
.nav {
  display: flex;
}

@media (max-width: mediaQueryWidth) {
  .nav {
    width: 30%;
    justify-content: space-between;
    min-width: 100px;
    margin: 0 1em;
  }
}
