@value makerNavy,makerYellow,makerGrey from '../../common/colors.css';
@value container from '../../common/size.css';

.header_container {
  background-color: makerYellow;
  height: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: container;
  margin: auto;
}
.logo {
  height: 40%;
  cursor: pointer;
}
.nav {
  display: flex;
  font-size: 0.8rem;
}
.nav li {
  margin: 0 1.5em;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.nav li:hover,
.nav .selected {
  font-weight: 700;
  border-bottom: 1px solid makerNavy;
}
