@value makerNavy, makerPink, makerGrey from '../../common/colors.css';
@value container from '../../common/size.css';

.findPet {
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.title {
  font-size: 2.2rem;
  margin-top: 1.5em;
  color: makerNavy;
  text-align: center;
  letter-spacing: -0.7px;
}
.subTitle {
  font-size: 1rem;
  color: makerGrey;
  text-align: center;
}
.info_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.info {
  background-color: white;
  position: relative;
  margin: auto;
  margin-bottom: 1.5em;
  flex-basis: 48%;
  /* width: 490px; */
  height: 220px;
  padding: 1em;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07);
  display: flex;
  border-radius: 16px;
  font-weight: 700;
  color: makerNavy;
  transition: all 150ms ease-in;
  cursor: pointer;
}
.info:hover {
  transform: scale(1.03);
  z-index: 1;
}
.info_img {
  height: 100%;
}
.info_img img {
  height: 100%;
  width: 198px;
  object-fit: cover;
  border-radius: 10px;
}
.info_text {
  margin-left: 1em;
}
.date {
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: 0.8rem;
}
.time {
  color: makerPink;
  font-size: 0.8rem;
  margin-top: 1.5em;
}
.location {
  font-size: 0.8rem;
}
.locationIcon {
  margin-right: 0.3em;
}
.feature {
  margin-top: 1em;
  font-size: 0.8rem;
  color: makerGrey;
  font-weight: 500;
}
