@value mediaQueryWidth,mediaWidth from '../../common/size.css';

.lostPet_container {
  padding: 1.8em 1em 3em;
  min-width: mediaWidth;
}
.lostPet {
  width: 100%;
  max-width: 950px;
  margin: auto;
}
.info_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
}
.lostAnimals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 206px;
  overflow: hidden;
}

.animal_wrap {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0.8em;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
  margin: 0.5em;
}

.animal_wrap:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}
