@import url('https://webfontworld.github.io/kopus/KoPubWorldDotum.css');
body {
  font-family: KoPubWorldDotum;
  background-color: rgb(245, 245, 245);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  font-family: KoPubWorldDotum;
  cursor: pointer;
}
input,
textarea,
select {
  font-family: KoPubWorldDotum;
}
