@value makerNavy,makerPink,makerYellow,makerGrey,makerLightGrey,makerDarkGrey from '../../common/colors.css';
@value mediaQueryWidth,mediaWidth from '../../common/size.css';

.discovery_container {
  min-width: mediaWidth;
  min-height: calc(100% - 50px);
  width: 100%;
  padding: 1em 1em 2em;
  max-width: 1000px;
  margin: auto;
}
.discovery_header {
  display: flex;
  width: 100%;
}
.locationIcon {
  color: makerPink;
  margin-right: 0.3em;
}
.explanation {
  font-size: 0.7rem;
  text-align: end;
  margin-bottom: 0.8em;
  letter-spacing: -0.7px;
  color: makerDarkGrey;
}
.discovery_wrap {
  display: flex;
  min-height: 406px;
}
.discovery {
  flex: 1;
}
.map {
  width: 25em;
  height: 25em;
  margin-right: 2em;
}
.animal {
  cursor: pointer;
  width: 100%;
  padding: 0.5em;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
.animal:hover {
  transform: scale(1.01);
}
.animal > div:first-child {
  display: flex;
  align-items: center;
}
.photo {
  background-color: makerGrey;
  height: 4em;
  width: 4em;
  object-fit: cover;
}
.info {
  flex: 1;
  padding: 0 1em;
}
.lostInfo {
  display: flex;
  align-items: center;
}
.location {
  max-width: 11em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dateTime {
  margin-left: auto;
}
.desc {
  margin-top: 1em;
  padding: 0.5em 0.8em;
  background-color: makerLightGrey;
  font-size: 0.7rem;
  height: 2.5em;
  overflow-y: auto;
  white-space: normal;
}

@media (max-width: mediaQueryWidth) {
  .discovery_container {
    max-width: 33.5em;
  }
  .address {
    display: none;
  }
  .discovery_wrap {
    display: block;
  }
  .map {
    width: 100%;
    height: 10em;
    margin-bottom: 1em;
  }
  .location {
    font-size: 0.8rem;
  }
  .lostInfo {
    display: block;
  }
}
