@value makerNavy,makerYellow from '../../common/colors.css';
@value mediaQuery,mediaWidth from '../../common/size.css';

.discovery_container {
  background-color: white;
  padding: 1.8em 1em;
  min-width: mediaWidth;
}
.info {
  margin: 1em auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  background-color: makerNavy;
  padding-right: 2em;
  height: 4em;
  border-radius: 2em;
  color: white;
  font-weight: 700;
}
.photo {
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  margin-left: 0.4em;
  background-color: makerLightGrey;
}
.location {
  font-size: 1.2rem;
  color: makerYellow;
  margin-left: 0.8em;
}
.dateTime {
  margin-left: 0.5em;
  font-size: 0.8rem;
}
.dateTime > div > div:first-child {
  color: white;
}
.character {
  margin-left: auto;
  font-weight: 300;
}

@media (max-width: mediaQuery) {
  .character,
  .dateTime {
    display: none;
  }
  .location {
    overflow: hidden;
  }
}
